<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.godLife.project.mapper.StatsMapper.ServiceAdminStatMapper">

  <!-- 상담원 일간 통계 데이터 업데이트 -->
  <update id="updateQnaDailyStatsByAdminIdx" parameterType="map">
    UPDATE QNA_DAILY_STATS
    SET TOTAL_COUNT = TOTAL_COUNT + 1,
    TOTAL_DURATION = TOTAL_DURATION + #{duration}
    WHERE STAT_DATE = CURDATE() AND ADMIN_IDX = #{adminIdx}
  </update>
  <!-- 상담원 월간 통계 데이터 업데이트 -->
  <update id="updateQnaMonthStatsByAdminIdx" parameterType="map">
    UPDATE QNA_MONTH_STATS
    SET TOTAL_COUNT = TOTAL_COUNT + 1,
    TOTAL_DURATION = TOTAL_DURATION + #{duration}
    WHERE STAT_MONTH = DATE_FORMAT(NOW(), '%Y-%m') AND ADMIN_IDX = #{adminIdx}
  </update>

  <!-- 상담원 일간/월간 문의 처리 통계 일괄 조회-->
  <select id="getQnaAdminDayAndMonthStats" parameterType="int" resultType="DayAndMonthStats">
    WITH daily AS (
    SELECT TOTAL_COUNT AS D_TOTAL_COUNT, TOTAL_DURATION AS D_TOTAL_DURATION
    FROM QNA_DAILY_STATS
    WHERE STAT_DATE = CURDATE() AND ADMIN_IDX = #{adminIdx}
    ),
    monthly AS (
    SELECT
    TOTAL_COUNT AS M_TOTAL_COUNT,
    TOTAL_DURATION AS M_TOTAL_DURATION,
    (SELECT COUNT(*) FROM QNA_MONTH_STATS WHERE ADMIN_IDX = #{adminIdx}) AS MONTH_COUNT
    FROM QNA_MONTH_STATS
    WHERE STAT_MONTH = DATE_FORMAT(NOW(), '%Y-%m') AND ADMIN_IDX = #{adminIdx}
    LIMIT 1
    )
    SELECT
    d.D_TOTAL_COUNT,
    d.D_TOTAL_DURATION,
    m.M_TOTAL_COUNT,
    m.M_TOTAL_DURATION,
    m.MONTH_COUNT
    FROM daily d
    LEFT JOIN monthly m ON 1=1
    UNION ALL
    SELECT
    d.D_TOTAL_COUNT,
    d.D_TOTAL_DURATION,
    m.M_TOTAL_COUNT,
    m.M_TOTAL_DURATION,
    m.MONTH_COUNT
    FROM daily d
    RIGHT JOIN monthly m ON 1=1
    WHERE d.D_TOTAL_COUNT IS NULL
  </select>


  <!-- 상담원 통계 테이블 최신화 -->
  <update id="updateQnaAdminSummaryStats" parameterType="QnaAdminStat">
    UPDATE QNA_ADMIN_SUMMARY_STATS
    SET TOTAL_COUNT = #{totalCount},
        TOTAL_DURATION = #{totalDuration},
        AVG_QNA_PER_DAY = #{avgQnaPerDay},
        AVG_DURATION_PER_DAY = #{avgDurationPerDay},
        AVG_QNA_PER_MONTH = #{avgQnaPerMonth},
        AVG_DURATION_PER_MONTH = #{avgDurationPerMonth},
        RECENT_DURATION = #{recentDuration}
    WHERE ADMIN_IDX = #{adminIdx}
  </update>

</mapper>
