<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.godLife.project.mapper.FaqMapper">

    <!-- FAQ 전체 조회 -->
    <select id="selectAllFaq" resultType="FaqListDTO">
        SELECT f.FAQ_IDX, f.FAQ_TITLE, fc.FAQ_CATEGORY_NAME
        FROM FAQ_TABLE f
        LEFT JOIN FAQ_CATEGORY fc ON f.FAQ_CATEGORY = fc.FAQ_CATEGORY_IDX
    </select>

    <!-- FAQ 카테고리 조회 -->
    <select id="selectCateFaq" resultType="FaqListDTO">
        SELECT
        f.FAQ_IDX,
        f.FAQ_TITLE,
        fc.FAQ_CATEGORY_NAME
        FROM
        FAQ_TABLE f
        LEFT JOIN
        FAQ_CATEGORY fc
        ON
        f.FAQ_CATEGORY = fc.FAQ_CATEGORY_IDX
        WHERE
        f.FAQ_CATEGORY = #{faqCategory}
    </select>

    <!-- FAQ 상세 조회 -->
    <select id="selectFaqById" parameterType="java.lang.Integer" resultType="FaQDTO">
        SELECT
        F.FAQ_IDX              AS faqIdx,
        F.FAQ_TITLE            AS faqTitle,
        F.FAQ_ANSWER           AS faqAnswer,
        F.FAQ_CATEGORY         AS faqCategory,
        C.FAQ_CATEGORY_NAME    AS faqCategoryName
        FROM
        FAQ_TABLE F
        LEFT JOIN
        FAQ_CATEGORY C ON F.FAQ_CATEGORY = C.FAQ_CATEGORY_IDX
        WHERE
        F.FAQ_IDX = #{faqIdx}
    </select>

    <!-- FAQ 작성 -->
    <insert id="insertFaq" parameterType="FaQDTO">
        INSERT INTO FAQ_TABLE (FAQ_TITLE, FAQ_ANSWER, FAQ_CATEGORY)
        VALUES (#{faqTitle}, #{faqAnswer}, #{faqCategory})
    </insert>

    <!-- FAQ 수정 update 쿼리 -->
    <update id="updateFaq" parameterType="FaQDTO">
        UPDATE FAQ_TABLE
        SET FAQ_TITLE = #{faqTitle},
        FAQ_ANSWER = #{faqAnswer},
        FAQ_CATEGORY = #{faqCategory}
        WHERE FAQ_IDX = #{faqIdx}
    </update>

    <!-- FAQ 제목 또는 내용에 검색어가 포함된 FAQ를 검색하는 select 쿼리 -->
    <select id="searchFaq" parameterType="SearchQueryDTO"
            resultType="FaQDTO">
        SELECT f.FAQ_IDX, f.FAQ_TITLE, f.FAQ_ANSWER, c.FAQ_CATEGORY_NAME
        FROM FAQ_TABLE f
        JOIN FAQ_CATEGORY c ON f.FAQ_CATEGORY = c.FAQ_CATEGORY_IDX
        WHERE 1 = 1
        <if test="faqTitle != null and faqTitle != ''">
            AND (
            f.FAQ_TITLE LIKE CONCAT('%', #{faqTitle}, '%')
            OR f.FAQ_ANSWER LIKE CONCAT('%', #{faqTitle}, '%')
            )
        </if>
        <if test="faqCategoryName != null and faqCategoryName != ''">
            AND c.FAQ_CATEGORY_NAME = #{faqCategoryName}
        </if>
    </select>

</mapper>