<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.godLife.project.mapper.AdminMapper.ChallAdminMapper">

    <!-- 챌린지 생성 (유저 참여형일 때는 START_TIME과 END_TIME을 NULL로 저장) -->
    <insert id="createChallenge">
        INSERT INTO CHALL_TABLE (
        CHALL_TITLE, CHALL_DESCRIPTION, CHALL_CATEGORY_IDX,
        MIN_PARTICIPATION_TIME, TOTAL_CLEAR_TIME, MAX_PARTICIPANTS,
        CHALL_CREATED_AT, CHALL_STATE, CHALL_START_TIME, CHALL_END_TIME, USER_JOIN, DURATION,
        CHALLENGE_TYPE, VISIBILITY_TYPE
        )
        VALUES (
        #{challTitle}, #{challDescription}, #{challCategoryIdx},
        #{minParticipationTime}, #{totalClearTime}, #{maxParticipants},
        NOW(), #{challState},  #{challStartTime}, #{challEndTime}, #{userJoin}, #{duration},
        #{challengeType}, #{visibilityType}
        )
    </insert>


    <!-- 챌린지 조회 (필터) -->
    <select id="getLatestAdminChallenges"
            parameterType="ChallengeSearchParamDTO"
            resultType="ChallRequestDTO">
        SELECT
        CT.CHALL_IDX,
        CT.CHALL_TITLE,
        CT.CHALL_DESCRIPTION,
        CT.CHALL_CATEGORY_IDX,
        CT.MAX_PARTICIPANTS,
        CT.CHALL_END_TIME,
        COUNT(CJ.USER_IDX) AS CURRENT_PARTICIPANTS,
        CT.CHALL_CREATED_AT,
        CT.CHALL_STATE
        FROM CHALL_TABLE CT
        LEFT JOIN CHALL_JOIN CJ ON CT.CHALL_IDX = CJ.CHALL_IDX
        <where>
            <!-- 상태 필터 -->
            <if test="challState != null and challState != ''">
                AND CT.CHALL_STATE = #{challState}
            </if>

            <!-- 카테고리 필터 -->
            <if test="challCategoryIdx != null">
                AND CT.CHALL_CATEGORY_IDX = #{challCategoryIdx}
            </if>

            <!-- visibility -->
            <if test="visibilityType != null and visibilityType != ''">
                AND UPPER(CT.VISIBILITY_TYPE) = UPPER(#{visibilityType})
            </if>

            <!-- 타입 필터 -->
            <if test="challengeType != null and challengeType != ''">
                AND UPPER(CT.CHALLENGE_TYPE) = UPPER(#{challengeType})
            </if>
        </where>
        GROUP BY
        CT.CHALL_IDX,
        CT.CHALL_TITLE,
        CT.CHALL_DESCRIPTION,
        CT.CHALL_CATEGORY_IDX,
        CT.MAX_PARTICIPANTS,
        CT.CHALL_END_TIME,
        CT.CHALL_CREATED_AT,
        CT.CHALL_STATE
        ORDER BY CT.CHALL_CREATED_AT DESC
        LIMIT #{size} OFFSET #{offset}
    </select>

    <!-- 챌린지 조회 카운트 -->
    <select id="countLatestAdminChallenges"
            parameterType="ChallengeSearchParamDTO"
            resultType="int">
        SELECT COUNT(*)
        FROM CHALL_TABLE CT
        <where>
            <!-- 상태 필터 -->
            <if test="challState != null and challState != ''">
                AND CT.CHALL_STATE = #{challState}
            </if>

            <!-- 카테고리 필터 -->
            <if test="challCategoryIdx != null">
                AND CT.CHALL_CATEGORY_IDX = #{challCategoryIdx}
            </if>

            <!-- visibility -->
            <if test="visibilityType != null and visibilityType != ''">
                AND UPPER(CT.VISIBILITY_TYPE) = UPPER(#{visibilityType})
            </if>

            <!-- 타입 필터 -->
            <if test="challengeType != null and challengeType != ''">
                AND CT.CHALLENGE_TYPE = #{challengeType}
            </if>

            <!-- 종료 조건 처리 (조회 쿼리와 동일) -->
            <choose>
                <!-- 종료된 이벤트 챌린지만 -->
                <when test="challengeType == 'SPECIAL' and onlyEnded != null and onlyEnded">
                    AND CT.CHALL_END_TIME IS NOT NULL
                    AND CT.CHALL_END_TIME &lt;= NOW()
                </when>

                <!-- 진행중인 이벤트 챌린지만 -->
                <when test="challengeType == 'SPECIAL' and (onlyEnded == null or !onlyEnded)">
                    AND (CT.CHALL_END_TIME IS NULL OR CT.CHALL_END_TIME &gt; NOW())
                </when>

                <!-- 일반 챌린지 → 종료 제외 -->
                <otherwise>
                    AND (CT.CHALL_END_TIME IS NULL OR CT.CHALL_END_TIME &gt; NOW())
                </otherwise>
            </choose>
        </where>
    </select>

    <!-- 챌린지 수정 -->
    <update id="modifyChallenge" parameterType="ChallengeDTO">
        UPDATE CHALL_TABLE
        <set>
            <if test="challTitle != null">CHALL_TITLE = #{challTitle},</if>
            <if test="challDescription != null">CHALL_DESCRIPTION = #{challDescription},</if>
            <if test="challCategoryIdx != null">CHALL_CATEGORY_IDX = #{challCategoryIdx},</if>
            <if test="minParticipationTime != null">MIN_PARTICIPATION_TIME = #{minParticipationTime},</if>
            <if test="maxParticipants != null">MAX_PARTICIPANTS = #{maxParticipants},</if>
            <if test="totalClearTime != null">TOTAL_CLEAR_TIME = #{totalClearTime},</if>
            <if test="challStartTime != null">CHALL_START_TIME = #{challStartTime},</if>
            <if test="challEndTime != null">CHALL_END_TIME = #{challEndTime},</if>
            <if test="challengeType != null">CHALLENGE_TYPE = #{challengeType},</if>
            <if test="visibilityType != null">VISIBILITY_TYPE = #{visibilityType},</if>
        </set>
        WHERE CHALL_IDX = #{challIdx}
    </update>

    <!-- 챌린지 존재 여부 확인 -->
    <select id="existsById" resultType="int">
        SELECT COUNT(1)
        FROM CHALL_TABLE
        WHERE CHALL_IDX = #{challIdx}
    </select>

    <!-- 인증(자식 테이블) 먼저 삭제 -->
    <delete id="deleteVerifyByChallIdx" parameterType="java.lang.Long">
        DELETE FROM VERIFY_TABLE
        WHERE CHALL_IDX = #{challIdx}
    </delete>
    <!-- 챌린지 조인(자식 테이블) 먼저 삭제 -->
    <delete id="deleteChallJoinByChallIdx" parameterType="java.lang.Long">
        DELETE FROM CHALL_JOIN
        WHERE CHALL_IDX = #{challIdx}
    </delete>

    <!-- 챌린지 삭제 -->
    <delete id="deleteChallenge" parameterType="java.lang.Long">
        DELETE FROM CHALL_TABLE
        WHERE CHALL_IDX = #{challIdx}
    </delete>

    <!-- 챌린지 조기 종료 처리 -->
    <update id="earlyFinishChallenge" parameterType="java.lang.Long">
        UPDATE CHALL_TABLE
        SET
        CHALL_STATE = 'END',
        CHALL_END_TIME = NOW()
        WHERE
        CHALL_IDX = #{challIdx}
        AND CHALL_STATE != 'END'
    </update>

    <!-- 챌린지 공개/비공개 처리 -->
    <update id="updateChallengeVisibility">
        UPDATE CHALL_TABLE
        SET VISIBILITY_TYPE = #{visibilityType}
        WHERE CHALL_IDX = #{challIdx}
    </update>

    <!-- 챌린지 이벤트 처리 -->
    <update id="updateChallengeType">
        UPDATE CHALL_TABLE
        SET CHALLENGE_TYPE = #{challengeType}
        WHERE CHALL_IDX = #{challIdx}
    </update>



    <!-- 챌린지 상세정보 조회 -->
    <select id="challengeDetail" resultType="ChallengeDTO">
        SELECT
        CHALL_IDX, CHALL_TITLE, CHALL_DESCRIPTION, CHALL_CATEGORY_IDX,
        MIN_PARTICIPATION_TIME, TOTAL_CLEAR_TIME, MAX_PARTICIPANTS,
        CHALL_START_TIME, CHALL_END_TIME, CHALL_CREATED_AT, CHALL_STATE, DURATION,  USER_JOIN
        FROM CHALL_TABLE
        WHERE CHALL_IDX = #{challIdx}
    </select>

    <!-- 상세조회시 참가자 조회-->
    <select id="getChallengeParticipants" resultType="ChallengeJoinDTO">
        SELECT cj.CHALL_JOIN_IDX,
        cj.CHALL_IDX,
        cj.USER_IDX,
        u.USER_NICK AS userNick,
        cj.ACTIVITY_TIME
        FROM CHALL_JOIN cj
        JOIN USER_TABLE u ON cj.USER_IDX = u.USER_IDX
        WHERE cj.CHALL_IDX = #{challIdx}
    </select>

    <!-- 참여인원 확인 메퍼 -->
    <select id="countParticipants" resultType="int">
        SELECT COUNT(*)
        FROM CHALL_JOIN
        WHERE CHALL_IDX = #{challIdx}
    </select>

    <!-- 유저 참여형 챌린지 최초 참여 시 정보 업데이트 -->
    <update id="updateChallengeStartTime">
        UPDATE CHALL_TABLE
        SET CHALL_START_TIME = #{challStartTime},
        CHALL_END_TIME = #{challEndTime},
        CHALL_STATE = #{challState}
        WHERE CHALL_IDX = #{challIdx}
    </update>
</mapper>