<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.godLife.project.mapper.AdminMapper.PlanAdminMapper">


    <select id="selectAdminPlanList" resultType="CustomAdminPlanListDTO">
        SELECT
        r.PLAN_IDX,
        r.PLAN_TITLE,
        r.TARGET_IDX,
        r.PLAN_SUB_DATE,
        r.USER_IDX
        FROM PLAN_TABLE r
        INNER JOIN USER_TABLE u ON r.USER_IDX = u.USER_IDX
        WHERE u.AUTHORITY_IDX BETWEEN 2 AND 7
        AND r.IS_DELETED = 0
        ORDER BY r.PLAN_SUB_DATE DESC
        LIMIT #{limit} OFFSET #{offset}
    </select>


    <select id="getTotalAdminPlanCount" parameterType="int" resultType="int">
        SELECT COUNT(*)
        FROM PLAN_TABLE r
        INNER JOIN USER_TABLE u ON r.USER_IDX = u.USER_IDX
        <choose>
            <when test="admin == 1">
                WHERE u.AUTHORITY_IDX BETWEEN 2 AND 7
            </when>
            <otherwise>
                WHERE u.AUTHORITY_IDX = 1
            </otherwise>
        </choose>

        AND r.IS_DELETED = 0
    </select>

    <select id="selectAdminPlanListByTargetIdx" resultType="CustomAdminPlanListDTO">
        SELECT
        r.PLAN_IDX,
        r.PLAN_TITLE,
        r.TARGET_IDX,
        r.PLAN_SUB_DATE,
        r.USER_IDX
        FROM PLAN_TABLE r
        INNER JOIN USER_TABLE u ON r.USER_IDX = u.USER_IDX
        WHERE r.TARGET_IDX = #{targetIdx}
        AND u.AUTHORITY_IDX BETWEEN 2 AND 7
        AND r.IS_DELETED = 0
        ORDER BY r.PLAN_SUB_DATE DESC
        LIMIT #{limit} OFFSET #{offset}
    </select>

    <select id="selectPlanList" resultType="CustomAdminPlanListDTO">
        SELECT
        r.PLAN_IDX,
        r.PLAN_TITLE,
        r.TARGET_IDX,
        r.PLAN_SUB_DATE,
        r.USER_IDX
        FROM PLAN_TABLE r
        INNER JOIN USER_TABLE u ON r.USER_IDX = u.USER_IDX
        WHERE u.AUTHORITY_IDX = 1
        AND r.IS_DELETED = 0
        ORDER BY r.PLAN_SUB_DATE DESC
        LIMIT #{limit} OFFSET #{offset}
    </select>

</mapper>