<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.godLife.project.mapper.AdminMapper.ReportAdminMapper">

    <!-- 유저 신고 조회 or 상태별 조회 -->
    <select id="getAllReports" resultType="UserReportDTO">
        SELECT
        r.REPORTER_IDX,
        reporter.USER_NICK AS REPORTER_NICK,
        r.REPORTED_IDX,
        reported.USER_NICK AS REPORTED_NICK,
        r.REPORT_REASON,
        r.STATUS,
        r.REPORT_DATE,
        r.USER_REPORT_IDX
        FROM USER_REPORT r
        JOIN USER_TABLE reporter ON r.REPORTER_IDX = reporter.USER_IDX
        JOIN USER_TABLE reported ON r.REPORTED_IDX = reported.USER_IDX
        <where>
            <if test="status != null">
                r.STATUS = #{status}
            </if>
        </where>
        ORDER BY r.REPORT_DATE DESC
        LIMIT #{limit} OFFSET #{offset}
    </select>


    <!-- 전체 신고수 -->
    <select id="countAllReports" resultType="int">
        SELECT COUNT(*)
        FROM USER_REPORT
    </select>

    <!-- 상태별 신고수 -->
    <select id="countReportsByStatus" resultType="int">
        SELECT COUNT(*)
        FROM USER_REPORT
        WHERE STATUS = #{status}
    </select>

    <!-- 상태별 조회 status : 0 처리중, 1 처리완료 -->
    <select id="selectReportsByStatus" resultType="UserReportDTO">
        SELECT
        r.REPORTER_IDX,
        reporter.USER_NICK AS REPORTER_NICK,
        r.REPORTED_IDX,
        reported.USER_NICK AS REPORTED_NICK,
        r.REPORT_REASON,
        r.STATUS,
        r.REPORT_DATE
        FROM USER_REPORT r
        JOIN USER_TABLE reporter ON r.REPORTER_IDX = reporter.USER_IDX
        JOIN USER_TABLE reported ON r.REPORTED_IDX = reported.USER_IDX
        WHERE r.STATUS = #{status}
        ORDER BY r.REPORT_DATE DESC
        LIMIT #{limit} OFFSET #{offset}
    </select>


    <!-- 신고처리 -->
    <update id="userReportStateUpdate" parameterType="UserReportDTO">
        UPDATE USER_REPORT
        SET STATUS = #{status}
        WHERE USER_REPORT_IDX = #{userReportIdx}
    </update>

    <!-- 신고당한 유저 조회 -->
    <select id="findReportedIdxByReportIdx" resultType="int">
        SELECT REPORTED_IDX FROM USER_REPORT WHERE USER_REPORT_IDX = #{userReportIdx}
    </select>

    <!-- 신고누적 증가 -->
    <update id="incrementReportCount" parameterType="int">
        UPDATE USER_TABLE
        SET REPORT_COUNT = REPORT_COUNT + 1
        WHERE USER_IDX = #{userIdx}
    </update>

    <!-- 신고횟수 확인 -->
    <select id="getReportCount" resultType="int" parameterType="int">
        SELECT REPORT_COUNT FROM USER_TABLE WHERE USER_IDX = #{userIdx}
    </select>

    <!-- 신고 누적으로 인한 정지 처리 -->
    <update id="banUser" parameterType="int">
        UPDATE USER_TABLE
        SET IS_BANNED = 1
        WHERE USER_IDX = #{userIdx}
    </update>


    <!--                  루틴 신고 관련               -->
    <!-- 전체 루틴 신고 조회 -->
    <select id="selectPlanReports" resultType="PlanReportDTO">
        SELECT
        r.PLAN_REPORT_IDX,
        r.REPORTER_IDX,
        reporter.USER_NICK AS REPORTER_NICK,
        r.PLAN_IDX,
        r.REPORT_REASON,
        r.STATUS,
        r.REPORT_DATE
        FROM PLAN_REPORT r
        JOIN USER_TABLE reporter ON r.REPORTER_IDX = reporter.USER_IDX
        JOIN PLAN_TABLE plan ON r.PLAN_IDX = plan.PLAN_IDX
        ORDER BY r.REPORT_DATE DESC
        LIMIT #{limit} OFFSET #{offset}
    </select>


    <!-- 상태별 조회 status : 0 처리중, 1 처리완료 -->
    <select id="selectPlanReportsByStatus" resultType="PlanReportDTO">
        SELECT
        r.REPORTER_IDX,
        reporter.USER_NICK AS REPORTER_NICK,
        r.PLAN_IDX,
        r.REPORT_REASON,
        r.STATUS,
        r.REPORT_DATE
        FROM PLAN_REPORT r
        JOIN USER_TABLE reporter ON r.REPORTER_IDX = reporter.USER_IDX
        JOIN PLAN_TABLE plan ON r.PLAN_IDX = plan.PLAN_IDX
        WHERE r.STATUS = #{status}
        ORDER BY r.REPORT_DATE DESC
        LIMIT #{limit} OFFSET #{offset}
    </select>

    <!-- 루틴 신고 수 -->
    <select id="countAllPlanReports" resultType="int" parameterType="map">
        SELECT COUNT(*)
        FROM PLAN_REPORT r
        WHERE r.STATUS = #{status}
    </select>

    <!-- 상태별 루틴 신고 수 조회 -->
    <select id="countPlanReportsByStatus" resultType="int">
        SELECT COUNT(*)
        FROM PLAN_REPORT
        WHERE STATUS = #{status}
    </select>

    <!-- 신고처리 -->
    <update id="planReportStateUpdate" parameterType="PlanReportDTO">
        UPDATE PLAN_REPORT
        SET STATUS = #{status}
        WHERE PLAN_REPORT_IDX = #{planReportIdx}
    </update>

    <!-- 신고 루틴 idx 조회 -->
    <select id="getPlanIdxByReportIdx" resultType="Integer">
        SELECT PLAN_IDX FROM PLAN_REPORT WHERE PLAN_REPORT_IDX = #{planReportIdx}
    </select>

    <!-- 루틴 비공개 처리-->
    <update id="updatePlanVisible" parameterType="PlanReportDTO">
        UPDATE PLAN_TABLE
        SET IS_SHARED = #{isShared}
        WHERE PLAN_IDX = #{planIdx}
    </update>
</mapper>
